<p style="color: green"><%= notice %></p>

<h1 align="center">Articles</h1>
<div id="articles" >
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Edit this article", edit_article_path(article) %> |
      <%= link_to "Show this article", article %> |
      
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
